body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}


/**
 * Added
 */
 /* 隐藏视频播放器的默认进度条 */
video::-webkit-media-controls-progress-bar {
  display: none;
}

/* 如果需要，也可以隐藏其他控制元素 */
video::-webkit-media-controls {
  display: none; /* 隐藏所有控制元素 */
}

/* 或者只隐藏特定的控制元素 */
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
  display: none;
}


.controls {
    /* 确保进度条与按钮在同一行 */
    display: flex;
    align-items: center;
}

.button {
    margin-right: 5px;
}

progress {
    width: 150px; /* 进度条的宽度 */
    height: 20px; /* 进度条的高度 */
    margin-left: 5px;
    margin-right: 10px;
}


.img-container {
    display: flex;
    justify-content: space-around;
}

.img-container img {
    max-width: 90%;
    max-height: 90%;
    transform: scale(0.9);
}



.column .content {
    text-align: center;
}

table {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e8e8e8; }
  table th {
    background-color: #f0f0f0;
    padding: 10px 15px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e8e8e8;
    }
  table td {
    padding: 10px 15px;
    min-width: 80px;
    border: 1px solid #e8e8e8; }

.results {
  font-size: 32px;
  font-weight: bold;
}

.button-group {
  margin: 10px 0;
}

.button-group span {
  display: inline-block;
  padding: 5px 15px;
  margin-right: 5px;
  border: 2px solid #ccc;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.button-group span:hover {
  background-color: #f0f0f0;
  border-color: #007bff;
}

.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.up-label {
    font-size: 20px; /* 增大字体大小 */
    margin-bottom: 10px; /* 在标签和按钮之间添加一些空间 */
}

.FO {
    background-color: rgba(249, 242, 248, 1);
}

.ZO {
    background-color: rgba(117, 209, 215, 0.1);
}


ul {
    list-style-type: disc;
    padding-left: 20px; /* 可根据需要调整缩进 */
}
